<div>
  <%= content_tag :p, @list.title %>
  <nav>
    <ul>
      <li><%= link_to "Delete", list_path(@list), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to "Back", root_path %></li>
    </ul>
  </nav>
</div>