<p>
All Lists:
</p>

<div>
  <% @lists.each do |list| %>
  <%= div_for list do %>
      <%= content_tag :p, list.title %>
      <p>
        <%= link_to "View More", list_path(list) %>
      </p>
    <% end %>
  <% end %>
</div>